.wrapCard{
    background-color: var(--green);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 300px;
    min-height: 400px;
    border-radius: 20px;
    gap: 2vh;
    padding: 20px;
    border: 2px solid var(--white);
    box-shadow: rgba(240, 146, 46, 0.3) 0px 5px, rgba(240, 133, 46, 0.2) 0px 10px, rgba(240, 140, 46, 0.2) 0px 15px, rgba(240, 185, 46, 0.1) 0px 20px, rgba(240, 153, 46, 0.05) 0px 25px;
}

.wrapCard img{
    width: 200px;
    height: 200px;
    border-radius: 20px;
}

.wrapCard h3, .wrapCard p{
    width: 100%;
    text-align: left;
}