.menu{
   width: 100%;
   display: flex;
   flex-wrap: wrap;
   align-items: center;
   justify-content: center;
   gap: 2vw;
   font-size: 1.4rem;
   min-height: 50px;
   height: auto;
   padding: 10px;
   background-color: var(--orange);
   color: var(--brow);
   position: fixed;
   top: 0;
   left: 0;
   box-shadow: rgba(240, 146, 46, 0.3) 0px 5px, rgba(240, 133, 46, 0.2) 0px 10px, rgba(240, 140, 46, 0.2) 0px 15px, rgba(240, 185, 46, 0.1) 0px 20px, rgba(240, 153, 46, 0.05) 0px 25px;
   z-index: 999;
}

.s1{
    min-height: 70vh;
    height: auto;
    padding-top: 50px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 50px;
}

.leftS1{
    width: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100%;
    overflow: hidden;
    border: 5px solid transparent;
    transition: all 200ms ease-in-out;
}

.leftS1:hover{
    box-shadow: var(--orange) 0px 7px 29px 0px;
    border: 5px solid var(--white);
}

.imgRound{
    width: 400px;
    height: auto;
    border-radius: 100%;
    transition: all 200ms ease-in-out;
}

.imgRound:hover{
    transform: scale(1.1);
}


.rightS1{
    width: 600px;
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: center;
    gap: 2vh;
    padding: 10px;
}

.rightS1 h2 {
    font-size: 2rem;
    color: var(--white);
}

.rightS1 p {
    font-size: 1.4rem;
}

.s2{
    min-height: 50vh;
    height: auto;
    padding-top: 50px;
}

.s2 h2{
    color: var(--orange);
    font-size: 3rem;
    text-shadow: rgba(240, 146, 46, 0.3) 0px 5px, rgba(240, 133, 46, 0.2) 0px 10px, rgba(240, 140, 46, 0.2) 0px 15px, rgba(240, 185, 46, 0.1) 0px 20px, rgba(240, 153, 46, 0.05) 0px 25px;
    margin-bottom: 2vh;
    width: 100%;
    text-align: center;
}

.wrapContainer{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 20px;
    padding: 50px;
}

.s3{
    height: 100vh;
    padding-top: 50px;
}
.s4{
    height: 100vh;
    padding-top: 50px;
}

@media (width <= 768px) {
    .s1{
        padding-top: 100px;
    }
    .leftS1{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0px;
        margin-bottom: -30px;
    }
    .imgRound{
        width: 100%;
        height: auto;
    }
    .rightS1{
        align-items: center;
    }
}